.slider-container {
    display: flex;
    align-items: center;
}

.slider-label {
    margin-right: 1px;
    min-width: 50px;  /* Adjust the width as needed */
}

.modal-header-title {
    font-size: 1.1em;  /* Adjust the size as needed */
}